{% extends 'visits/base.html' %}
<!-- {% from "pagination.html" import pagination %} -->

{% block tab_content %}

<h1>Статистика по пользователям</h1>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Пользователь</th>
            <th>Количество посещений</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{stat.login or "Неаутентифицированный пользователь"}}</td>
            <td>{{stat.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary mb-3" href="{{ url_for('visits.stat_users', download_csv=True) }}">Экспорт в CSV</a>


{% endblock %}